*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    font-family: "Helvetica Neue";
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.islands-scene {
    
}

.background {
    transition: .1s;
    width: 120%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -10%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background-size: contain;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(23, 43, 77, .7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.zoomContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.island {
    width: 200px;
    height: 200px;
    display: block;
    background-color: blue;
    margin: 20px;
    transition: .1s;
    transform-style: preserve-3d;
}

.island:hover {
    cursor: zoom-in;
}